<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApacheThrift" version="0.13.0.1" targetFramework="net461" />
  <package id="AspectCore.Extensions.Reflection" version="2.1.0" targetFramework="net461" />
  <package id="Consul" version="1.6.1.1" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.14.0" targetFramework="net461" />
  <package id="Grpc.Core" version="2.33.1" targetFramework="net461" />
  <package id="Grpc.Core.Api" version="2.33.1" targetFramework="net461" />
  <package id="Jaeger" version="0.4.2" targetFramework="net461" />
  <package id="Jaeger.Communication.Thrift" version="0.4.2" targetFramework="net461" />
  <package id="Jaeger.Core" version="0.4.2" targetFramework="net461" />
  <package id="Jaeger.Senders.Thrift" version="0.4.2" targetFramework="net461" />
  <package id="Jaeger.Thrift" version="0.3.7" targetFramework="net461" />
  <package id="Jaeger.Thrift.VendoredThrift" version="0.3.7" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Http.Features" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Json" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Hosting" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Console" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Debug" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="OpenTracing" version="0.12.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.EventLog" version="5.0.0" targetFramework="net461" />
  <package id="System.Interactive.Async" version="5.0.0" targetFramework="net461" />
  <package id="System.IO.Pipelines" version="5.0.0" targetFramework="net461" />
  <package id="System.IO.Pipes" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Pipes.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.Linq.Async" version="5.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Net.Http.WinHttpHandler" version="5.0.0" targetFramework="net461" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Security" version="4.3.2" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Json" version="5.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Dataflow" version="5.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>